.mainBody {
    width: 90%;
    min-height: 65vh;
    margin-left: 5%;
    padding-top: 30px;
}

#upload {
    margin-top: 50px;
}

.selectImg {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(black, 0.3);
    .imgList {
        background: white;
        padding: 30px;
        min-width: 50vw;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.btn {
    background-color: green;
    color: white;
    font-size: 18px;
    padding: 3px 10px 3px 10px;
    border: none;
    display: inline;
    margin-top: 10px;
}

.close {
    @extend .btn;
    background: red;
    color: black;
}

.win {
    width: 80%;
    margin-left: 10%;
    input {
        width: 100%;
    }
}
.basic-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    .container{
        flex-grow: 1;
        input{
            width: 80%;
        }
    }
}