<div class="mainBody">
  <div class="container">
    <div class="loginwindow">
      <div class="describe">
        <div>
          <p>
            还不知道写什么了
          </p>
        </div>
      </div>
      <div class="login-input box">
        <div class="box-header">
          Login
        </div>
        <form #f="ngForm">          
          <div class="input-area">
            <div class="input-name">
              <label for="userName">Name</label>
              <br>
              <input type="text" name="name" id="userName" class="input-text" required [(ngModel)]="name">
            </div>
            <div class="input-name" id="input-pass">
              <label for="userPass">Pass</label>
              <br>
              <input type="password" name="pass" #pas='ngModel' id="userPass" class="input-text" required [(ngModel)]="pass">
            </div>
            <div class="confirmButton">
              <button type="button" class="box" id="btn" (click)="submit(pas)">Login</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
