<div class="mainBody">
  <div class="container">
    <div class="loginwindow">
      <div class="describe">
        <div>
          <p>
            还不知道写什么了
          </p>
        </div>
      </div>
      <div class="login-input box">
        <div class="box-header">
          Login
        </div>
        <div class="input-area">
          <div class="input-name">
            <label for="userName">Name</label>
            <br>
            <input type="text" name="" value="" id="userName">
          </div>
          <div class="input-name" id="input-pass">
            <label for="userPass">Pass</label>
            <br>
            <input type="password" name="" value="" id="userPass">
          </div>
          <div class="confirmButton">
            <button type="button" class="box" id="btn">Login</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
