<div class="_body">
  <div class="headerbar">

    <a routerLink="/home" routerLinkActive="active">
      <div>首页</div>
    </a>
    <a routerLink="/404" routerLinkActive="active">
      <div>404页面</div>
    </a>
    <a routerLink="/write" routerLinkActive="active">
      <div>write</div>
    </a>
    <a routerLink="/login" routerLinkActive="active">
      <div>Login</div>
    </a>

  </div>

  <router-outlet></router-outlet>

  <div class="footerbar">


    <div class="copyright">
      <p>卢友新 2017年5月</p>
    </div>

  </div>
</div>
